.img-card {
	position: absolute;
	top: -50px;
	width: 80px;
}

.pt-6 {
	padding-top: 4rem !important;
}

.content-wrapper {
	padding: 60px 0 0 0;
}

.as-hidden {
	display: none;
}

.as-show {
	visibility: visible;
}

.as-input-file{
	background-color: rgba(255, 255, 255, 0.2);
	border: 0px solid #e5eaef;
	color: #fff !important;
	display: block;
	width: 90%;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type="file" i] {
	padding: 10px;
}
.custom-file-label::after{
	height: auto;
	content: "Pilih File";
}
.custom-file-label{
	height: calc(1.5em + .75rem + 2px);
}

.alert-dismissible .close{
	padding: .48rem;
	top: 0;
}